<% section = 'tv' %>
<% include ../header.ejs %>
<div id="all_series" class="with-header">
	<div class="panel">
		<% if (series.length) { %>
		<ul class="responsive-grid">
			<% _.each(series, function (serie) { %>
			<li class="poster">
				<div class="poster-innards">
					<% if (serie.series_metadata && serie.series_metadata.poster) { %>
						<a class="poster-link" href="/series/view/<%= serie.title %>">
							<img class="video-thumbnail" src="http://thetvdb.com/banners/<%= serie.series_metadata.poster %>" alt="">
						</a>
					<% } else { %>
						<a class="poster-link" href="/series/view/<%= serie.title %>">
							<img class="video-thumbnail" src="/images/no-poster.png" alt="">
						</a>
						<span class="title"><%= serie.title %></span>
					<% } %>
					<button data-href="/series/favourite/<%= serie.title %>" class="fave-heart js-favourite-toggle">
						<i class="fa <% if (serie.isFavourite) { %>fa-heart is-favourite<% } else { %>fa-heart-o<% } %>"></i>
					</button>
				</div>
			</li>
			<% }); %>
			<div class="clearfix"></div>
		</div>
		<% } else { %>
			<div>No series found.</div>
		<% } %>
	</div>
</div>
