<div id="series" style="background:url(http://thetvdb.com/banners/<%= series.series_metadata.fanart %>); background-size: cover;">
	<div class="series-information">
		<h1 class="series-name">
			<a href="/series/list" class="back"><i class="fa fa-chevron-left"></i></a> <%= series.series_metadata.SeriesName %>
		</h1>
		<h3><%= series.series_metadata.Overview %></h3>
		<div class="poster-buttons">
			<a href="#" data-href="/series/favourite/<%= series.title %>" class="poster-button js-favourite-toggle">
				<i class="fa fa-heart<% if (series.isFavourite) { %> is-favourite<% } %>"></i>
			</a>
			<a href="#" class="poster-button">
				<i class="fa fa-info-circle"></i>
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="video-list">
		<% _.each(videos, function (video) { %>
			<a class="video <% if (video.thumbnails && video.thumbnails.length) {%> has-thumbnails<% } %>" data-id="<%= video.id %>" href="/videos/watch/<%= video.id %>" class="video-link">
				<div class="video-tile">
					<% if (video.episode_metadata) { %>
						<div class="thumbnail-area">
							<div class="thumbnails">
								<img class="video-thumbnail" src="http://thetvdb.com/banners/<%= video.episode_metadata.filename %>" alt="">
								<% _.each(video.thumbnails, function (thumb) { %>
									<img class="video-thumbnail hidden" src="/thumbs/<%= thumb %>" alt="">
								<% }); %>
							</div>
							<% if (video.duration) { %>
								<div class="duration">
									<% if (video.duration.hours > 0) { %>
									<span class="hours"><%= Video.leftPad(video.duration.hours, 2) %>:</span>
									<% } %><span class="minutes"><%= Video.leftPad(video.duration.minutes, 2) %></span>:<span class="seconds"><%= Video.leftPad(video.duration.seconds, 2) %></span>
								</div>
							<% } %>
							<% if (video.left_off_at) { %>
								<div class="watch-progress">
									<span class="watched-bar" title="<%= video.left_off_at %> seconds of <%= Video.durationInSeconds(video) %> total seconds" style="width: <%= 100*video.left_off_at / Video.durationInSeconds(video) %>%"></span>
								</div>
							<% } %>
						</div>
						<h3><%= video.episode_metadata.EpisodeName %> - S<%= video.season %>E<%= video.episode %></h3>
						<p class="video-overview"><%= video.episode_metadata.Overview %></p>
					<% } %>
					<%= video.raw_file_path %>
					<div class="clearfix"></div>
				</div>
			</a>
		<% }); %>
	</div>
</div>
