<% section = 'all-videos' %>
<% include ../header.ejs %>
<div id="all-videos" class="with-header">
  <div class="panel">
    <% if (videos.length) { %>
      <ul class="responsive-grid">
      <% _.each(videos, function (video) { %>
    	  <li class="poster">
          <div class="poster-innards">
            <% if (video.thumbnails) { %>
              <a href="/videos/watch/<%= video.id %>" class="poster-link aspect16x8">
                <img src="/videos/thumb/<%= video.thumbnails[0] %>" class="video-thumbnail">
              </a>
            <% } %>
      	  	<% if (video.title) { %>
            <span class="title">
      	  		<%= video.title %>
            </span>
      	  	<% } %>
      	  	<% if (video.season && video.episode) { %>
            <span class="season">
      	  		S<%= video.season %>E<%= video.episode %>
            </span>
      	  	<% } else { %>
              <span class="title">
      				  <%= video.raw_file_path %>
              </span>
      	  	<% } %>
          </div>
    	  </li>
      <% }); %>
      </ul>
    <% } else { %>
      <div>No videos found.</div>
    <% } %>
  </div>
</div>
