<div id="series" style="background:url(http://thetvdb.com/banners/<%= series.fanart %>); background-size: cover;">
	<div class="series-information">
		<h1 class="series-name"><%= series.SeriesName %></h1>
		<h2><%= series.Overview %></h2>
	</div>
	<div class="video-list">
		<% _.each(videos, function (video) { %>
			<a class="video" href="/videos/watch/<%= video.id %>" class="video-link">
				<div class="video-tile">
					<% if (video.episode_metadata) { %>
						<img class="video-thumbnail" src="http://thetvdb.com/banners/<%= video.episode_metadata.filename %>" alt="">
						<h3><%= video.episode_metadata.EpisodeName %> - S<%= video.season %>E<%= video.episode %></h3>
						<p class="video-overview"><%= video.episode_metadata.Overview %></p>
					<% } %>
					<div class="clearfix"></div>
				</div>
			</a>
		<% }); %>
	</div>
</div>
