<div id="watch">
	<div class="meta">
		<div class="title-information">
			<h1 class="title">
				<% if (video.season) { %>
					<a href="/series/view/<%= video.title %>">
						<%= video.title %>
					</a>
				<% } else { %> 
					<%= video.title %>
				<% } %>
			</h1>
			<% if (video.episode_metadata && video.episode_metadata.EpisodeName) { %>
				<h3>
				<%= video.episode_metadata.EpisodeName %>
				<% if (video.season && video.episode) { %>
					<em class="smaller">S<%= video.season %>E<%= video.episode %></em>
				<% } %>
				</h3>
			<% } %>
		</div>
		<% if (video.episode_metadata) { %>
			<div class="description">
				<p>
					<%= video.episode_metadata.Overview %>
				</p>
			</div>
		<% } %>

	</div>
	<div class="video-container">
		<video id="<%= video.id %>" src="/videos/stream/<%= video.id %>" data-resume-from="<%= video.left_off_at %>" autoplay controls muted></video>
	</div>
</div>