<div id="watch">
	<div class="meta">
		<div class="title-information">
			<h1 class="title">
				<% if (video.season) { %>
					<a href="/series/view/<%= video.title %>">
						<%= video.title %>
					</a>
				<% } else { %> 
					<%= video.title %>
				<% } %>
			</h1>
			<% if (video.episode_metadata && video.episode_metadata.EpisodeName) { %>
				<h3><%= video.episode_metadata.EpisodeName %></h3>
			<% } %>
			<% if (video.season && video.episode) { %>
				<h2 class="season-episode">S<%= video.season %>E<%= video.episode %></h2>
			<% } %>
		</div>
		<% if (video.episode_metadata) { %>
			<div class="description">
				<p>
					<%= video.episode_metadata.Overview %>
				</p>
			</div>
		<% } %>

	</div>
	<div class="video-container">
		<video src="/videos/stream/<%= video.id %>" autoplay controls muted></video>
	</div>
</div>